<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <i class="fa-sharp fa-solid fa-qrcode"></i>
            <span class="matter-wordmark">QRCodex</span>
        </a>
        <div class="ms-auto">
            <button class="btn btn-secondary border-0" type="button" onclick="toggleTheme()" aria-label="Toggle dark mode">
                <i class="fa-solid fa-moon d-block-light-only" title="Switch to Dark Mode"></i>
                <i class="fa-solid fa-sun d-block-dark-only" title="Switch to Light Mode"></i>
            </button>
        </div>
    </div>
</nav>
