<!-- What's New Modal -->
<div class="modal fade" id="whatsNewModal" tabindex="-1" aria-labelledby="whatsNewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="whatsNewModalLabel">What's New</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="whatsNewVersion" class="mb-2 fw-bold"></div>
                <div id="whatsNewContent" class="markdown-content">
                    <!-- Release notes will be injected here -->
                    <p class="text-muted">Loading release notes...</p>
                </div>
            </div>
            <div class="modal-footer">
                <a id="viewOnGithub" href="#" target="_blank" class="btn btn-outline-secondary">
                    <i class="fa-brands fa-github me-1"></i> View on GitHub
                </a>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
